<div class="scrobbles-container">
  <h2>Recent Scrobbles</h2>
  
  <div class="scrobbles-list">
    <div class="scrobble-item">
      <div class="scrobble-info">
        <div class="track-title">
          <em>Scrobbles are updated automatically every 6 hours via GitHub Actions.</em>
        </div>
        <div class="artist-name">
          This page displays my Last.fm listening history.
        </div>
        <div class="album-name">
          Check back soon for recent tracks!
        </div>
      </div>
      <div class="scrobble-time">
        Updated automatically
      </div>
    </div>
  </div>
</div>
